.main{
    margin: auto;
padding: 0 16px;
max-width: 1000px;
margin-bottom: 100px;
}
.products{
    margin: auto;
    text-align:center ;
}
.products_title{
    font-family: 'Shadows Into  Light',cursive;
    text-transform: uppercase;
    font-weight: 700;
    flex-shrink: 25px;
    color: #020202;

    margin-bottom:100px ;
    vertical-align: middle;
}
.products_title::before{
    content: "\007B";
    display: inline-block;
    color: #00f0f0;
    vertical-align: middle;
    margin-right:25px;
}
.products_title::after{
    content: "\007D";
    display: inline-block;
    color: #00f0f0;
    vertical-align: middle;
    margin-left: 25px;
  
}
.card{
    width: 250px;
    margin-bottom: 50px;
    display: inline-block;
    margin-right: 50px;
}
.card:nth-child(3n-3){
    margin-right:0 ;
}
.product_photo{
    width: 250px;
    height: 320px;
}
.product_name{
    font-weight:700;
    font-size:20px;
    display:inline-block;
    width:70%;
    background-color: #00f0f0;
}