.container{
overflow:hidden;
}
.box div{
width:350px;
display:inline-block;border:px;
margin-left: 145px;
margin-top: 70px;
}
.header {
max-width: 900px;
font-size: 16px;
margin: auto;
}
.logo { 
font-family: 'Montserrat',sans-serif;
font-size: 45px;
text-transform: uppercase;
margin-right: 200px;
}
.menu_list {
display: flex;
justify-content:space-between ;
align-self:center;
width: 620px;
margin-left: 90px;
color: grey;
}
.menu_list_item {
 font-size: 13px;
}
.menu_list_item:hover{
color: deepskyblue;
border-bottom: 2px

}
 .button{
margin: 62px;
margin-left: 506px;
bottom: 78px;
height: 66px;
width: 162px;
}
.h6{
color: lightgray;
}
.h4{
color:grey ;
}
.h1{
color: slategray;
}
