.header {
    max-width: 900px;
    font-size: 16px;
    margin: auto;
}

.logo { 
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    font-size: 45px;
    text-transform: uppercase;
font-weight: 600;
color: #000;
margin-right: 200px;
}

.logo::first-letter{
    color: #1abc9c;
    font-weight: 900;
}


.logo_link {
font-size: 45px;
color: #000;
font-weight: 600;
}

.menu {
display:inline-block ;
}

.menu_list {

}
  
.menu_list_item {
    font-size: 16px;
text-transform:
 uppercase;
 border-bottom: 2px
 solid transparent;
 padding: bottom 15px ;
 border-bottom: 2px;
 display:inline-block ;
 margin-right: 25px;
}

.menu_list_item:hover{
    color: #1abc9c;
     border-bottom: 2px
     solid #1abc9c;
}
 
.menu_list_item:last-child{
margin-right: 0;
}

div{ 
display: inline-block;    font-size: 16px;
text-transform:
 uppercase;
 border-bottom: 2px
 solid transparent;
 padding: bottom 15px ;
 display:inline-block ;
 margin-right: 25px;
 margin: 40px;
border: 10px;
padding: 20px;
}




.wrapper{
background-repeat: no-repeat;
background-size: cover ;
background-image: url("../img/images.jpg");
}

h1{
    color: grey;
}
h2{
    color:grey
}
h3{
    color:grey
}
h4{
    color:grey
}
h5{
    color:grey
}

button{
display: inline-block;
font-size:20 ;
}


